@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    --platinum: #ccdbdcff;
    --gunmetal: #272d2dff;
    --tiffany-blue: #63c7b2ff;
    --cerulean: #0081a7ff;
    --blue-crayola: #3772ffff;
}

body {
    /* background-color: var(--platinum); */
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", "Roboto", sans-serif;
    color: var(--gunmetal);
}

header div.shape {
    width: 12em;
    height: 24em;
}
header img {
    width: 28em;
    left: 10em;
    top: 8em;
    z-index: -1;
}
header div.shape, header img, header h1 {
    border-radius: 1em;
    display: block;
    position: absolute;
}
header h1 {
    left: 40rem;
    top: 10rem;
    font-size: 60pt;
    text-transform: uppercase;
}